html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #8A5AF9;
  display: flex;
  justify-content: center;
  align-items: center;
}